# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = InfinitlyUndefined
	email = 80415342+InfinitlyUndefined@users.noreply.github.com
[init]
	defaultBranch = main
